/* https://coolors.co/156064-00c49a-f8e16c-ffc2b4-fb8f67 */

* {
    margin: 0;
}

body {
    background: rgb(255, 238, 169);
    background: #ffc2b4;
    font-family: "Jost", sans-serif;
}

.avatar-wrapper {
    border: 1px solid gray;
    padding: 5px;
    border-radius: 0.3em;
    background: linen;
}

.avatar {
    margin: 5px;
    object-fit: contain;
    overflow: hidden;
    cursor: pointer;
}

.head {
    display: grid;
    background: #f8e16c;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
}

.nav div {
    background-color: #156064;
}

.declinebtn,
.fsbtn,
.nav div a,
.users div a {
    text-decoration: none;
    text-transform: uppercase;
}

.nav div a {
    color: #f8e16c;
}

.users div a {
    color: black;
}

.uploader {
    width: 40%;
    height: 100%;
    background: sandybrown;
    margin: 0 auto;
}

.welcome .logo {
    height: 100%;
}

#addbio,
#editbio {
    cursor: pointer;
    text-decoration: underline;
}

#x {
    cursor: pointer;
}

@media screen and (min-device-width: 375px) and (max-device-width: 576px) {
}

@media screen and (min-device-width: 1024px) and (max-device-width: 16000px) {
    .bio-edit,
    .fsbuttons,
    .showbio,
    .username {
        grid-column: 2 / 3;
    }

    .bio-edit,
    .fsbuttons,
    .otherprofile .showbio,
    .username {
        margin-left: 20px;
    }

    .enterbio textarea {
        width: 380px;
        height: 80px;
    }

    .find-users {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .fsbtn {
        background: #00c49a;
    }

    .fsbuttons {
        margin-top: 50px;
    }

    .fsbuttons button {
        color: white;
        padding: 10px;
        border-radius: 0.3em;
        border: none;
    }

    .declinebtn {
        background: #fb8f67;
    }

    .head .avatar-wrapper {
        width: 90px;
        height: 90px;
        padding: 5px;
        grid-column: 3 / 4;
    }

    .head .avatar {
        width: 80px;
        height: 80px;
        margin: 5px;
    }

    .head {
        grid-template-columns: 110px 1fr 100px;
        align-items: baseline;
        padding: 0 10px 10px;
        border-bottom: 1px solid #fb8f67;
    }

    .logo img {
        width: 110px;
        height: auto;
        grid-column: 1 / 2;
    }

    .nav {
        grid-column: 2 / 3;
        margin-right: 10px;
    }

    .nav div {
        float: right;
        margin-left: 0.3%;
        padding: 10px;
        border-radius: 0.3em;
    }

    .otherprofile .avatar-wrapper,
    .profile .avatar-wrapper,
    .users .avatar-wrapper {
        width: 210px;
        height: 210px;
        padding: 5px;
    }

    .otherprofile .avatar-wrapper,
    .profile .avatar-wrapper {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .otherprofile,
    .profile {
        margin: 20px;
        display: grid;
        grid-template-columns: 210px 400px;
        grid-template-rows: 70px 50px 160px;
    }

    .otherprofile h1,
    .profile h1 {
        grid-row: 1;
        grid-column: 1 / 3;
    }

    .otherprofile .avatar,
    .profile .avatar,
    .users .avatar {
        width: 200px;
        height: 200px;
        margin: 5px;
        object-fit: contain;
        overflow: hidden;
    }

    .otherprofile .fsbuttons,
    .profile .bio-edit {
        grid-row: 3;
    }

    .profile .username {
        grid-column: 2 / 3;
        grid-row: 2;
    }

    .showbio {
        font-size: 18px;
    }

    .users {
        display: grid;
        grid-template-columns: repeat(3, 250px);
    }

    .users div {
        margin: 10px;
        text-align: center;
    }

    #footer {
        position: absolute;
        bottom: 5px;
        font-size: 12px;
    }
}
