body {
    background: rgb(255, 238, 169);
    background: linear-gradient(
        180deg,
        rgba(255, 238, 169, 1) 0%,
        rgba(255, 247, 216, 1) 50%,
        rgba(255, 252, 241, 1) 100%
    );
    background-repeat: no-repeat;
    height: 100vh;
    font-family: "Jost", sans-serif;
}

.avatar-wrapper {
    border: 1px solid gray;
    padding: 5px;
    border-radius: 0.3em;
    background: linen;
}

.avatar {
    margin: 5px;
    object-fit: contain;
    overflow: hidden;
    cursor: pointer;
}

.head {
    display: grid;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
}

.nav div a,
.users div a {
    text-decoration: none;
    color: black;
}

.uploader {
    width: 40%;
    height: 100%;
    background: sandybrown;
    margin: 0 auto;
}

.welcome .logo {
    height: 100%;
}

#addbio,
#editbio {
    cursor: pointer;
    text-decoration: underline;
}

#x {
    cursor: pointer;
}

@media screen and (min-device-width: 375px) and (max-device-width: 576px) {
}

@media screen and (min-device-width: 1024px) and (max-device-width: 16000px) {
    .enterbio textarea {
        width: 380px;
        height: 80px;
    }

    .find-users {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .head .avatar-wrapper {
        width: 90px;
        height: 90px;
        padding: 5px;
        grid-column: 3 / 4;
    }

    .head .avatar {
        width: 80px;
        height: 80px;
        margin: 5px;
    }

    .head {
        grid-template-columns: 110px 1fr 100px;
        align-items: baseline;
        padding-bottom: 10px;
        border-bottom: 1px solid orange;
    }

    .logo img {
        width: 110px;
        height: auto;
        grid-column: 1 / 2;
    }

    .nav {
        grid-column: 2 / 3;
        margin-right: 10px;
    }

    .nav div {
        background-color: wheat;
        float: right;
        margin-left: 2%;
        padding: 10px;
        border: 1px solid orange;
    }

    .profile .avatar-wrapper,
    .users .avatar-wrapper {
        width: 210px;
        height: 210px;
        padding: 5px;
    }

    .profile .avatar-wrapper {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .profile {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 210px 400px;
        grid-template-rows: 70px 50px 160px;
    }

    .profile h1 {
        grid-row: 1;
    }

    .profile .avatar,
    .users .avatar {
        width: 200px;
        height: 200px;
        margin: 5px;
        object-fit: contain;
        overflow: hidden;
    }

    .bio-edit,
    .username {
        margin-left: 20px;
        grid-column: 2 / 3;
    }

    .profile .bio-edit {
        grid-row: 3;
    }

    .profile .username {
        grid-column: 2 / 3;
        grid-row: 2;
    }

    .users {
        display: grid;
        grid-template-columns: repeat(3, 250px);
    }

    .users div {
        margin: 10px;
        text-align: center;
    }

    #footer {
        position: absolute;
        bottom: 5px;
        font-size: 12px;
    }
}
