body {
    background: hotpink;
}

.avatar-wrapper {
    width: 110px;
    height: 110px;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 0.3em;
    background: linen;
}

.reg {
    background: grey;
}

.logo img {
    width: 20%;
    height: auto;
}

.avatar {
    width: 100px;
    height: 100px;
    margin: 5px;
    object-fit: contain;
    overflow: hidden;
}
